<h3>Park Features</h3>
{{#each ParkList}}
    <p>
      Name: {{this.park.name}}
      </br>
	Id: {{this.park.id}}
	</br>
	Latitude: {{this.park.latitude}}
	</br>
	Longitude: {{this.park.longitude}}
	</br>
	ADA: {{this.park.ada}}
      </p>
      <ul>
      {{#each park.features}}
	<li>{{this.class}}: {{this.title}}
      {{/each}}
      </ul>
{{/each}}

